.jumbotron-riton {
  background-color: #F9F590; }

.parallax-image {
  background-image: url("/images/ODEbsmv.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.thumbnail {
  position: relative; }

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%; }

.text-center-image {
  font-family: 'Montserrat', sans-serif;
  font-size: -webkit-xxx-large;
  color: white !important; }
